.container{
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 0 15px;
}
.post{
  margin: 30px 0;
}
.ant-card-actions > li {
    display: flex;
    justify-content: center;
}
.ant-card-head-title h2{
  margin: 0;
}
ul.ant-card-actions > li > span{
    display: flex;
}
.ant-card-actions > li > span > span.anticon{
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.ant-card-actions > li > span a:not(.ant-btn){
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.ant-space{
  padding: 5px;
}
.ant-space-item{
    display: flex;
    font-size: 18px;
    line-height: 1;
}
.ant-space-item:last-child{
  font-size: 16px;
}
.ant-input-group-wrapper:nth-child(n+2) {
  margin-top: 20px;
}